name: CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup
      uses: actions/setup-node@v3
      with:
        node-version: '24.x'

    - name: Install dependencies 
      run: npm ci

    - name: Run build
      run: npm run build

    - name: Run tests
      run: npm test

    - name: Run lint
      run: npm run lint